<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#/">GrowexxerBlogs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#!/posts/myposts">My Blogs</a></li>
        <li class="nav-item" ng-if="userRole() != 'author'"><a class="nav-link" href="#/categories">Categories</a></li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item" ng-if="!isLoggedIn()">
          <button class="btn btn-outline-primary me-2" ng-click="login()">Login</button>
        </li>

        <li class="nav-item dropdown" ng-if="isLoggedIn()">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
            {{ getInitials() }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form ng-submit="submitLogin(user)">
          <input type="email" ng-model="user.email" class="form-control mb-2" placeholder="Email" required>
          <input type="password" ng-model="user.password" class="form-control mb-2" placeholder="Password" required>
          <div class="text-end mb-2">
            <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal" data-bs-dismiss="modal">Create Account</a>
          </div>
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form ng-submit="submitRegister(newUser)">
          <input type="text" ng-model="newUser.name" class="form-control mb-2" placeholder="Full Name" required>
          <input type="email" ng-model="newUser.email" class="form-control mb-2" placeholder="Email" required>
          <input type="password" ng-model="newUser.password" class="form-control mb-2" placeholder="Password" required>
          <input type="password" ng-model="newUser.password_confirmation" class="form-control mb-2" placeholder="Confirm Password" required>
          <button type="submit" class="btn btn-success w-100">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
